version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=artem
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ebdb
    ports:
      - "5432:5432"
    healthcheck: # <--- НАЧАЛО НОВОГО БЛОКА
      test: ["CMD-SHELL", "pg_isready -U artem -d goapp_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  goapp:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=artem
      - DB_NAME=ebdb
      - DB_PASSWORD=password
    depends_on:
      postgres: # <--- ИЗМЕНЕННЫЙ БЛОК
        condition: service_healthy
